.match-card-container {
  background-color: #0f172a;
  color: #ffffff;
  list-style: none;
  margin: 10px;
  border-radius: 10px;
  width: 25vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.logo {
  width: 10vw;
  height: 15vh;
}
.green-text {
  color: #18ed66;
}
.red-text {
  color: #e31a1a;
}
