.list-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  background-color: #ffffff33;
  border-radius: 10px;
  margin: 20px;
  width: 30vw;
  height: 25vh;
  padding: 20px;
}

.team-name {
  color: #ffffff;
}

.team-logo {
  width: 10vw;
  height: 15vh;
}
.nav-link {
  text-decoration: none;
}
