* {
  box-sizing: border-box;
  font-family: 'Bree Serif';
  margin: auto;
}
.main-container {
  width: 100vw;
  min-height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
}
.ipl-dashboard-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  width: 30vw;
}
.ipl-logo {
  width: 5vw;
  height: 9vh;
}
.main-heading {
  color: #ffffff;
  font-size: 60px;
}

.teams-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 85vh;
  width: 60vw;
}
