.team-match-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.description {
  color: #ffffff;
  font-size: 35px;
}
.banner {
  margin-top: 10em;
  margin-bottom: 5em;
  width: 80vw;
}

.CSK-bgc {
  background-image: linear-gradient(to bottom, #f7db00, #0f172a);
}
.RCB-bgc {
  background-image: linear-gradient(to bottom, #a4261d, #0f172a);
}
.KKR-bgc {
  background-image: linear-gradient(to bottom, #4f5db0, #0f172a);
}
.KXP-bgc {
  background-image: linear-gradient(to bottom, #f7db00, #0f172a);
}
.RR-bgc {
  background-image: linear-gradient(to bottom, #da237b, #0f172a);
}
.MI-bgc {
  background-image: linear-gradient(to bottom, #13418b, #0f172a);
}
.SH-bgc {
  background-image: linear-gradient(to bottom, #f26d22, #0f172a);
}
.DC-bgc {
  background-image: linear-gradient(to bottom, #5755a7, #0f172a);
}

.latest-match-container {
  width: 80vw;
  display: flex;
  flex-direction: column;
}
.unOrder-List-Match-Card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80vw;
  padding-left: 0px;
}
